.li2_parts {
  height: 740px;
  margin: 0px auto;
}

.li2_parts .tabHead {
  width: 100%;
  height: 40px;
}

.li2_parts .tab {
  width: 155px;
  height: 40px;
  background: #004bdc;
  font-size: 18px;
  text-align: center;
  float: left;
  color: white;
  line-height: 38px;
}

.li2_parts .tabing {
  background: white;
  font-size: 18px;
  color: #004bdc;
  text-align: center;
}

.li2_parts .partsBody {
  width: 100%;
  height: 421px;
  background: white;
}

.li2_parts .partsFoot {
  width: 100%;
  height: 84px;
  /*margin-top: -48px;*/
  background: #c5cfdb;
}

.li2_parts .bodyCon {
  height: 256px;
  padding: 20px;
}

.li2_parts .pages {
  width: 273px;
  height: 50px;
  margin: 0px auto;
}

.li2_parts .pageControl {
}

.li2_parts .pagesText {
  font-size: 24px;
  display: inline-block;
  width: 155px;
  text-align: center;
}

.li2_parts .sure {
  width: 126px;
  height: 40px;
  background: #004bdc;
  text-align: center;
  color: white;
  font-size: 20px;
  line-height: 36px;
  letter-spacing: 2px;
  float: right;
  margin: 0px 35px;
}

.li2_parts .criminal {
  width: 84%;
  height: 110px;
  float: left;
  background: #0048d9;
  margin: 6px 6px;
  text-align: center;
  padding: 2px;
}

.li2_parts .criminal img {
  border: 1px solid white;
}

.li2_parts .criminalName {
  font-size: 12px;
  color: white;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 99%;
}

.li2_parts .bodyHead {
  width: 100%;
  height: 46px;
  background: #c5cfdb;
}

.li2_parts .title {
  font-size: 25px;
  font-weight: 800;
  color: #1d68e8;
  text-shadow: 2px 2px 2px #fff;
  line-height: 45px;
  text-indent: 15px;
  float: left;
}

.li2_parts .titleDescribe {
  line-height: 45px;
  font-size: 20px;
  width: 856px;
  text-align: left;
}

.tab2 .bodyCon {
  height: 600px;
}

.choosedcriminal {
  background: red !important;
}

.li2_parts tr {
  height: 27px;
}

.navheader {
  height: 122px;
  color: #fff;
  font-size: 20px;
}
