.crimalcheck {
  height: 933px;
  color: white;

  .illegal {
    box-shadow: 0 0 25px rgba(255, 54, 219, 0.9) inset;
  }

  .title {
    text-align: left;
    color: #00CCFF;
    font-size: 18pt;
    font-weight: bold;
    margin-top: 20px;
  }

  .situationCard {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin-top: 15px;
    height: 250px;

    p {
      font-size: 18pt;
      line-height: 20px;
    }
  }

  .yellowFont {
    color: #FFFF66;
    font-weight: bold;
  }
}
