.desktopCheck {
  height: 992px;
  color: white;

  .ad {
    position: absolute;
  }

  .pageDiv {
    display: flex;
    justify-content: center;

    .pageIconFirst {
      margin: 0px 5px;
      border-radius: 50%;
      background-color: white;
      width: 13px;
      height: 13px
    }

    .pageIcon {
      margin: 0px 5px;
      border-radius: 50%;
      border: 2px solid white;
      width: 10px;
      height: 10px
    }
  }

  .title {
    float: left;
    margin-top: 5px;
    margin-left: 10px;
    color: #00CCFF;
    font-size: 15pt;
    font-weight: bold;
  }

  .content {
    margin-left: 10px;
    margin-top: 5px;
    font-size: 15pt;
    float: left;
  }

  .mychart {
    width: 600px;
    height: 35px;
    float: left;
    margin-left: -50px;
  }

  .cardSize1 {
    width: 107px;
    padding: 5px;
    font-size: 13pt;
    font-weight: bold;

    .cardHeight {
      height: 150px;
    }

    img {
      width: 90px;
      height: 120px;
    }
  }

  .cardSize2 {
    width: 135px;
    padding: 5px;
    font-size: 15pt;
    font-weight: bold;

    .cardHeight {
      height: 190px;
    }

    img {
      width: 110px;
      height: 147px;
    }
  }

  .cardSize3 {
    width: 185px;
    padding: 5px;
    font-size: 17pt;
    font-weight: bold;

    .cardHeight {
      height: 265px;
    }

    img {
      width: 165px;
      height: 220px;
    }
  }

  .cardSize4 {
    width: 280px;
    padding: 5px;
    font-size: 25pt;
    font-weight: bold;

    .cardHeight {
      height: 395px;
    }

    img {
      width: 245px;
      height: 327px;
    }
  }
}
