.desktopCheck {
  height: 992px;
  color: white;

  .title {
    float: left;
    margin-top: 5px;
    margin-left: 10px;
    color: #00CCFF;
    font-size: 15pt;
    font-weight: bold;
  }

  .content {
    margin-left: 10px;
    margin-top: 5px;
    font-size: 15pt;
    float: left;
  }

  .mychart {
    width: 600px;
    height: 35px;
    float: left;
    margin-left: -50px;
  }

  .cardSize1 {
    width: 107px;
    font-size: 1pt;
    padding: 5px;
    font-size: 13pt;
    font-weight: bold;

    .cardHeight {
      height: 150px;
    }

    img {
      width: 90px;
      height: 120px;
    }
  }

  .cardSize2 {
    width: 60px;
    font-size: 1pt;
    padding: 5px 5px;

    .cardHeight {
      height: 60px;
    }

    img {
      width: 30px;
      height: 40px;
    }
  }

  .cardSize2 {
    width: 70px;
    font-size: 1pt;
    padding: 5px 5px;

    .cardHeight {
      height: 60px;
    }

    img {
      width: 30px;
      height: 40px;
    }
  }
}
