.home {
  height: 842px !important;
}

.fontYellow {
  color: #F4FF84
}

.fontBlue {
  color: #77F3D5
}

.body {
  height: 100%;
  color: white;
  padding: 25px;
  overflow: hidden;
  padding-top: 0;

  .home_title {
    color: #25ACE9;
    margin: 10px 20px;
    font-size: 12pt;
    font-weight: lighter;
    text-align: left;
  }

  .prison_situation {
    height: 290px;
    background: rgba(255, 255, 255, .8);
    text-align: left;
    overflow: auto;
    margin-bottom: 20px;

    .content {
      p {
        font-size: 16px;
        line-height: 48px;

        margin: 0;
      }
    }
  }

  .member_distribute {
    height: 600px;
    background: rgba(255, 255, 255, .8);
    overflow: hidden;
    text-align: left;
    margin-left: 20px;
    position: relative;
  }

  .flow_persons {
    height: 185px;
    background: rgba(255, 255, 255, .8);
    overflow: hidden;
    text-align: left;
    position: relative;
  }


}

.map {
  position: absolute;
  left: 0;
  right: 0;
  top: 40px;
  bottom: 0;

  img {
    display: block;
  }

  ;

  .getCenter {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}
