.home {
  height: 933px !important;

  .fontYellow {
    color: #FFFF66;
    font-weight: bold;
  }

  .fontBlue {
    color: #66FFCC;
    font-weight: bold;
  }

  .body {
    height: 100%;
    color: white;
    padding: 25px;
    overflow: hidden;
    padding-top: 30px;

    .home_title {
      color: #00CCFF;
      margin: 10px 20px;
      font-size: 20px;
      text-align: left;
      font-weight: bold;
    }

    .prison_situation {
      height: 680px;
      box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
      text-align: left;
      overflow: auto;
      margin-bottom: 20px;

      .content {
        margin: 0 auto;
        width: 360px;
        p {
          font-size: 34px;
          line-height: 100px;
        }
      }
    }

    .member_distribute {
      height: 680px;
      box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
      overflow: hidden;
      text-align: left;
      margin-right: 20px;
      position: relative;
    }

    .flow_persons {
      text-align: left;
      padding: 2rem;

      .urineNum{
        font-size: 34px;
        line-height: 50px;
      }

      .urineList{
        height: 265px;
        display: inline-block;
        width: 100%;
        overflow: auto;
      }

      .shitNum{
        font-size: 34px;
        line-height:50px;
      }

      .shitList{
        height: 265px;
        display: inline-block;
        width: 100%;
        overflow: auto;
      }

      .illegal {
        box-shadow: 0 0 25px #2673c3 inset;
      }

      .shit {
        box-shadow: 0 0 25px #2673c3 inset;
      }


      .personCard {
        width: 100%;
        height: 220px;
        border-radius: 5px;
        padding-bottom: 20px;

        .personPhoto {
          width: 130px;
          height: 200px;
          margin: 20px 10px;

          img {
            width: 100%;
            height: 100%;
          }
        }
      }

      .photo-font{
        width: 5rem;
        display: inline-block;
        margin: 2rem 0;
        p {
          font-size: 18pt;
          line-height: 26px;
          text-align: center;
        }
      }
    }
  }

  .map-w{
    height: 240px;
    padding: 3rem;
    //background: url("../assets/map.png") no-repeat center center;
    background-size: contain;
    -webkit-box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
    position: relative;
    .operate{
      width: 100%;
      height: 100%;
      border-radius: 15px;
      .total{
        text-align: left;
        font-size: 1.8rem;
        color: #09f;
      }
      .con-info{
        width: 60%;
        float: left;
        .line-info{
          float: left;
          font-size: 1.8rem;
          color: #fff;
          width: 33%;
          text-align: left;
          line-height: 5rem;
        }
      }

      .buttons{
        display: block;
        position: absolute;
        bottom: 3rem;
        right: 2rem;

        .button{
          width: 180px;
          background: #aeaeae;
        }

        .active{
          background: #09f;
        }
      }
    }
  }
  .pageDiv {
    display: flex;
    justify-content: center;

    .pageIconFirst {
      margin: 0px 5px;
      border-radius: 50%;
      background-color: white;
      width: 13px;
      height: 13px
    }

    .pageIcon {
      margin: 0px 5px;
      border-radius: 50%;
      border: 2px solid white;
      width: 10px;
      height: 10px
    }
  }
}
.bot{
  position: absolute;
  bottom: 7rem;
  padding: 0 5rem;
  .bot-left{
    text-align: left;
    font-size: 1.8rem;
  }
  .bot-right{
    text-align:right;
    font-size: 1.8rem;
    .button{
      width: 150px;
    }
  }
}

.waiting{
  font-size: 3rem;
  color: #6fc;
  margin: 1rem 2rem;
  overflow: auto;
  height: 200px;
  display: block;
  .total-toilet{
    float:left;
    margin-right: 5rem;
  }
  span{
    float:left;
    list-style: none;
  }
}

.el-dialog{
  margin-top:45vh !important;
}
.el-dialog__body,.el-dialog__header{
  background: #ff6d00 !important;
  padding: 0 0 50px;
}
.el-table--enable-row-hover .el-table__body tr:hover>td{
  background-color: #212e3e !important;
}
