.navheader {
  p {
    margin: 0;
  }

  height: 122px;
  color: #fff;
  font-size: 20px;

  .logo {
    padding: 30px;

    p {
      margin: 0;
      text-align: left;
      line-height: 54px;
      margin-left: 10px;
      font-size: 36px;
    }
  }

  .logo-hui {
    p {
      color: #bbb;
    }



  }

  .location {
    height: 45px;
    line-height: 45px;
    text-align: left;

    p {
      font-size: 13pt;
    }
  }

  .navRight {
    padding: 30px;
    float: right;

    .title {

      height: 57px;
      line-height: 57px;
    }

    .floatRight {
      text-align: right;
    }
  }
}
