.li3_parts .tab {
  width: 155px;
  height: 40px;
  background: #004bdc;
  font-size: 18px;
  text-align: center;
  float: left;
  color: white;
  line-height: 38px;
}

.li3_parts .tabing {
  background: white;
  font-size: 18px;
  color: #004bdc;
  text-align: center;
}

.home {
  height: 836px;
}

.li3_parts {
  height: 740px;
  margin: 0px auto;
}

.li3_parts .deailHead {
  width: 100%;
  height: 32px;
  background: rgba(0, 126, 202, 0.25);
  color: blue;
  text-align: left;
  text-indent: 28px;
  font-size: 19px;
  line-height: 33px;
}

li3_parts .deailBody {
}

.criminalImg {
  height: 91px;
  width: 89px;
}

.li3_parts .partsBody {
  width: 100%;
  height: 692px;
  background: white;
}

.li3_parts .partsFoot {
  width: 100%;
  height: 84px;
  /*margin-top: -48px;*/
  background: #c5cfdb;
}

.li3_parts .bodyCon {
  height: 592px;
  padding: 20px;
}

.li3_parts .pages {
  width: 273px;
  height: 50px;
  margin: 12px auto;
}

.li3_parts .pageControl {
}

.li3_parts .pagesText {
  font-size: 24px;
  display: inline-block;
  width: 155px;
  text-align: center;
}

.li3_parts .sure {
  width: 126px;
  height: 40px;
  background: #004bdc;
  text-align: center;
  color: white;
  font-size: 20px;
  line-height: 36px;
  letter-spacing: 2px;
  float: right;
  margin: 0px 35px;
}

.li3_parts .criminal {
  width: 84%;
  height: 110px;
  float: left;
  background: #0048d9;
  margin: 6px 6px;
  text-align: center;
  padding: 2px;
}

.li3_parts .criminal img {
  border: 1px solid white;
}

.li3_parts .criminalName {
  font-size: 12px;
  color: white;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 99%;
}

.li3_parts .bodyHead {
  width: 100%;
  height: 46px;
  background: #c5cfdb;
}

.li3_parts .title {
  font-size: 25px;
  font-weight: 800;
  color: #1d68e8;
  text-shadow: 2px 2px 2px #fff;
  line-height: 45px;
  text-indent: 15px;
  float: left;
}

.li3_parts .titleDescribe {
  line-height: 45px;
  font-size: 20px;
  width: 856px;
  text-align: left;
}

.tab2 .bodyCon {
  height: 600px;
}

.choose {
  border: 2px solid #004bdc;
  height: 37px;
  line-height: 35px;
  margin: 6px 5px;
  color: blue;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.choose1 {
  border: 2px solid #004bdc;
  height: 37px;
  line-height: 35px;
  margin: 6px 5px;
  color: blue;
  overflow: hidden;
  text-align: center;
  height: 63px;
}

.choosed {
  border: 2px solid #004bdc;
  height: 37px;
  line-height: 35px;
  margin: 6px 5px;
  color: white;
  background: #004bdc;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.choosed1 {
  border: 2px solid #004bdc;
  height: 37px;
  line-height: 35px;
  margin: 6px 5px;
  color: white;
  background: #004bdc;
  overflow: hidden;
  height: 63px;
}

.searchInput::-webkit-input-placeholder {
  color: #fff;
}

.searchMode {
  position: absolute;
  z-index: 9999999;
  background: #a2bcdb;
  border-radius: 7px;
  margin: 195px 545px;
  height: 351px;
  width: 437px;
}

.searchInput {
  width: 353px;
  height: 47px;
  margin: 6px 0px;
  font-size: 30px;
  text-align: center;
  background: #697a8f;
  color: white;
}

.searchBottons {
  width: 383px;
  height: 10px;
  margin: 0px auto;
}

.listX {
  width: 100%;
}

.listY {
  width: 76px;
  height: 49px;
  float: left;
  border: 1px solid blue;
  margin: 8px 8px;
  font-size: 30px;
  line-height: 51px;
  background: #3f73fb;
  color: white;
  border-radius: 8px;
  box-shadow: 1px 1px 4px -2px;
}

.listY:active {
  width: 76px;
  height: 49px;
  float: left;
  border: 1px solid blue;
  margin: 8px 8px;
  font-size: 30px;
  line-height: 51px;
  border-radius: 8px;
  box-shadow: 1px 1px 4px 4px;
}
